.intro {
      min-height: 550px;
      background: #DCE5E2;
      border-radius: 32px;
}

.banner-text {
      vertical-align: middle;
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.banner-text h3 {
      font-size: 58px;
      line-height: 70px;
      margin-left: 50px;
}

.banner-btn {
      padding: 10px 40px;
      border-radius: 200px;
      font-size: 18px;
      width: 180px;
      font-family: 'Inter', sans-serif;
}